// HERO SECTION
.main {
  margin-bottom: 4rem;
  &__illustration {
    // background: url("../../../images/bg-dots.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__headline {
    font-weight: 500;
    font-size: 1.5rem;
  }
  &__supporting-copy {
    color: $Grayish-Blue;
    font-size: 0.9rem;
    line-height: 1.6;
  }
  @include mQ_desktop {
    .container {
      @include flex;
      align-items: flex-start;
      padding-bottom: 4rem;
      flex-direction: row-reverse;
      & > * {
        flex: 1 1 50%;
      }
    }
    &__intro-text {
      text-align: left;
      max-width: 28rem;
    }
    &__headline {
      font-size: 2.7rem;
      padding: 2rem 0;
      font-weight: 500;
    }
    &__supporting-copy {
      font-size: 1.05rem;
    }
  }
}
.cta-holder {
  margin: 1rem 0;
  @include flex;
  justify-content: center;
  @include mQ_desktop {
    justify-content: flex-start;
  }

  .btn {
    padding: 1rem 0.25rem;
    border-radius: 6px;
    flex: 1 1 2.5rem;
    max-width: 10rem;
    margin: 0 0.25rem;
    text-align: center;
  }
}

.features{
  &__heading{
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
  }
  &__headline{
    font-weight: 500;
    color: $Very-Dark-Blue;
  }
  &__supporting-copy {
    color: $Grayish-Blue;
    font-size: 0.9rem;
    line-height: 1.6;
  }
  .cta-holder{
    justify-content: center;
  }
  @include mQ_desktop{
    &__headline {
      font-size: 2rem;
      padding: 1rem 0;
      font-weight: 500;
    }
    &__supporting-copy {
      font-size: 1.05rem;
    }
    .cta-holder{
      justify-content: flex-start;
    }
  }
}

