.tab{
  .btn--tab{
    color:$Grayish-Blue;
    background:transparent;
    box-shadow: 0 0 0;
    border-radius: 0;
  }
  &__list{
    padding: 1rem 0;
  }
  &__item{ 
    margin: .25rem 0;
    padding-top: .25rem; 
    text-align: center;
    border-bottom: 1px solid $Grayish-Blue;
    &:first-child{
      border-top: 1px solid $Grayish-Blue;
    }
  }
  &__content-list{
    margin: 2rem 0 3rem;
  }
  &__content-headline{
    font-weight: 500;
    padding: 1rem 0;
    color: $Very-Dark-Blue;
  }
  &__content-supporting-copy {
    color: $Grayish-Blue;
    font-size: 0.9rem;
    line-height: 1.6;
  }

  @include mQ_desktop {
    &__list{ 
      border-bottom: 1px solid $Grayish-Blue;
      @include flex;
      max-width: 50rem;
      margin: auto;
      padding: 0;
      justify-content: center;
    }
    &__item{ 
      margin: 0;
      padding: .25rem 1rem  0px; 
      // text-align: center;
      border:none;

      // border-bottom: 1px solid $Grayish-Blue;
      &:first-child{
        border-top: none;
      }
    }
    .btn--tab{
      padding: 1.5rem 1rem;
      font-weight:400;
      font-size: 1.05rem;
    }
    &__content-intro-text {
      text-align: left;
      max-width: 28rem;
    }
    &__content-headline {
      font-size: 2rem;
      padding: 0rem 0rem 2rem;
      font-weight: 500;
    }
    &__content-supporting-copy {
      font-size: 1.05rem;
    }
    &__content-item{
      @include flex;
      align-items: flex-start;
      padding-bottom: 4rem;
      flex-direction: row;
      & > * {
        flex: 1 1 50%;
      }
    }
  } 
  &__content-item{
    animation: fadeEffect 1s; 
  }
}



/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.active{
  border-bottom: 3px solid red;
}
// .hidden{
//   display: none;
//   opacity:1;  
//   transition: opacity .5s linear;
// }