@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  text-align: center;
}

p {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.container {
  padding: 1.25rem 1.15rem;
  max-width: 1180px;
  margin: 0rem  auto;
}

.bg-underlay {
  position: absolute;
  background-color: #5368df;
  z-index: -1;
}

.bg-underlay--header {
  height: 40%;
  width: 60%;
  bottom: 55%;
  right: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

@media screen and (min-width: 768px) {
  .bg-underlay--header {
    height: 70%;
    width: 40%;
    bottom: 0;
  }
}

.bg-underlay--features {
  height: 25%;
  width: 65%;
  bottom: 30%;
  left: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

@media screen and (min-width: 768px) {
  .bg-underlay--features {
    height: 45%;
    width: 45%;
    bottom: 0;
  }
}

.faqs-accordion {
  background-color: white;
  margin: 2rem 0;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .faqs-accordion {
    max-width: 600px;
  }
}

.faqs-accordion__question {
  cursor: pointer;
  color: #252b46;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.faqs-accordion__answer {
  padding: 0rem  0 .75rem;
  height: 0;
  font-size: .875rem;
  color: #9194a1;
  opacity: 0;
  overflow: hidden;
  word-spacing: .25rem;
  transition: height .5s linear , opacity .5s linear;
}

.faqs-accordion__item {
  margin: .25rem 0;
  padding-top: .25rem;
  text-align: left;
  border-bottom: 1px solid #9194a1;
}

.faqs-accordion__item:first-child {
  border-top: 1px solid #9194a1;
}

.faqs-accordion__question-text {
  font-size: .9rem;
  padding: .75rem 0;
}

.faqs-accordion__question-text:hover {
  color: #fa5757;
}

.faqs-accordion__collaspe-icon {
  padding: 0 .25rem;
}

.faqs-accordion__collaspe-icon > * {
  transition: transform .5s linear;
}

@media screen and (min-width: 768px) {
  .faqs-accordion__answer {
    font-size: 0.9rem;
  }
  .faqs-accordion__question-text {
    font-size: 1rem;
  }
}

.rotate_icon {
  transform: rotate(-180deg);
  transition: transform .5s linear;
}

.collaspe {
  overflow: hidden;
  opacity: 1;
  transition: height .5s linear, opacity .5s linear;
}

.nav--primary {
  padding: 1rem;
  text-align: center;
  width: 90%;
  opacity: 0.925;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #252b46;
}

.nav--primary .nav__list--socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.nav--primary .nav__list--socials .nav__item {
  font-size: 1.3rem;
  border: none;
}

.nav--primary .nav__item {
  padding: 1rem;
  font-size: 1.15rem;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

.nav--primary .nav__item:hover {
  color: #fa5757;
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .nav--primary {
    padding: 0rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: center;
    width: auto;
    position: static;
    background-color: transparent;
  }
  .nav--primary.hidden {
    display: flex;
  }
  .nav--primary .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
  .nav--primary .nav__list--socials {
    display: none;
  }
  .nav--primary .nav__item {
    padding-left: 1.5rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    color: #252b46;
  }
}

@media screen and (max-width: 768px) {
  .nav--primary .nav__list:first-child {
    width: 15rem;
  }
  .nav--primary .nav__list:first-child > *:first-child {
    border-top: 1px solid #9194a1;
  }
  .nav--primary .nav__list:first-child > *:last-child {
    border: none;
    padding: 0.75rem 0;
  }
  .nav--primary .nav__list:first-child .btn--accent {
    background-color: transparent;
    padding: 0.6rem 1.75rem;
    font-size: 1.2rem;
    border: 2px solid white;
    display: block;
    font-weight: 500;
  }
  .nav--primary .nav__item {
    border-bottom: 1px solid #9194a1;
  }
}

.product {
  padding: 1rem 0;
}

.product__item {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.product__image-holder {
  padding: 1rem 0;
}

.product__headline {
  max-width: 25rem;
  margin: 1rem auto 0;
  font-size: 1rem;
  font-weight: 500;
  color: #252b46;
}

.product__supporting-copy {
  color: #9194a1;
  padding: 0 0 2.5rem;
  font-size: 0.85rem;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .product {
    height: 28.5rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .product__item {
    margin: 2rem 0 1rem;
    align-self: center;
  }
  .product__item:nth-of-type(1) {
    align-self: start;
  }
  .product__item:nth-of-type(3) {
    align-self: end;
  }
}

.btn {
  padding: 1rem;
  cursor: pointer;
  border-radius: 6px;
  color: white;
  border: none;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0rem;
  font-family: inherit;
  outline: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.25s linear;
}

.btn--primary {
  background-color: #5368df;
  color: white;
  border: none;
}

.btn--primary:hover {
  color: #5368df;
  background-color: transparent;
  border: 2px solid #5368df;
}

.btn--secondary {
  background-color: #f1f2f3;
  border: none;
  color: #252b46;
}

.btn--secondary:hover {
  background-color: transparent;
  color: #252b46;
  border: 2px solid #252b46;
}

.btn--accent {
  background-color: #fa5757;
  color: white;
  padding: 0.6rem 1.75rem;
  border: none;
}

.btn--accent:hover {
  color: #fa5757;
  background-color: white;
  border: 2px solid #fa5757;
}

.tab .btn--tab {
  color: #9194a1;
  background: transparent;
  box-shadow: 0 0 0;
  border-radius: 0;
}

.tab__list {
  padding: 1rem 0;
}

.tab__item {
  margin: .25rem 0;
  padding-top: .25rem;
  text-align: center;
  border-bottom: 1px solid #9194a1;
}

.tab__item:first-child {
  border-top: 1px solid #9194a1;
}

.tab__content-list {
  margin: 2rem 0 3rem;
}

.tab__content-headline {
  font-weight: 500;
  padding: 1rem 0;
  color: #252b46;
}

.tab__content-supporting-copy {
  color: #9194a1;
  font-size: 0.9rem;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .tab__list {
    border-bottom: 1px solid #9194a1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50rem;
    margin: auto;
    padding: 0;
    justify-content: center;
  }
  .tab__item {
    margin: 0;
    padding: .25rem 1rem  0px;
    border: none;
  }
  .tab__item:first-child {
    border-top: none;
  }
  .tab .btn--tab {
    padding: 1.5rem 1rem;
    font-weight: 400;
    font-size: 1.05rem;
  }
  .tab__content-intro-text {
    text-align: left;
    max-width: 28rem;
  }
  .tab__content-headline {
    font-size: 2rem;
    padding: 0rem 0rem 2rem;
    font-weight: 500;
  }
  .tab__content-supporting-copy {
    font-size: 1.05rem;
  }
  .tab__content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    padding: 2rem 0 2rem;
    flex-direction: row;
  }
  .tab__content-item > * {
    flex: 1 1 50%;
  }
}

.tab__content-item {
  animation: fadeEffect 1s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active {
  border-bottom: 3px solid red;
}

.newsletter-form {
  padding: 1rem;
  border-radius: 6px;
}

.newsletter-form__item {
  position: relative;
}

.newsletter-form__input {
  position: relative;
  width: 100%;
  font-size: .9rem;
  padding: .85rem 1rem;
  padding-right: 3rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  font-weight: 400;
}

.newsletter-form__input::placeholder {
  font-weight: 400;
}

.newsletter-form__input:focus {
  outline: none;
}

.newsletter-form__err-msg {
  bottom: -1rem;
  font-size: .7rem;
  font-weight: 400;
  background-color: #fa5757;
  color: white;
  text-align: left;
  display: none;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: .5rem .5rem;
}

@media screen and (min-width: 768px) {
  .newsletter-form__err-msg {
    position: absolute;
    left: 0;
    bottom: -15px;
  }
}

.newsletter-form__input:focus:invalid {
  border: 4px solid #fa5757;
}

.newsletter-form .btn--accent {
  width: 100%;
  padding: .9rem 1rem;
}

@media screen and (min-width: 768px) {
  .newsletter-form {
    padding: 0rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 30rem;
    justify-content: center;
    margin: 0 auto;
  }
  .newsletter-form__item {
    flex: .75 1;
    margin-right: 1rem;
  }
  .newsletter-form .btn {
    width: auto;
  }
}

.main {
  position: relative;
  margin-bottom: 4rem;
}

.main__illustration {
  background-size: contain;
  background-repeat: no-repeat;
}

.main__headline {
  font-weight: 500;
  font-size: 1.5rem;
}

.main__supporting-copy {
  color: #9194a1;
  font-size: 0.9rem;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    padding-bottom: 4rem;
    flex-direction: row-reverse;
  }
  .main .container > * {
    flex: 1 1 50%;
  }
  .main__intro-text {
    text-align: left;
    max-width: 28rem;
  }
  .main__headline {
    font-size: 2.7rem;
    padding: 2rem 0;
    font-weight: 500;
  }
  .main__supporting-copy {
    font-size: 1.05rem;
  }
}

.cta-holder {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .cta-holder {
    justify-content: flex-start;
  }
}

.cta-holder .btn {
  padding: 1rem 0.25rem;
  border-radius: 6px;
  flex: 1 1 2.5rem;
  max-width: 10rem;
  margin: 0 0.25rem;
  text-align: center;
}

.features {
  position: relative;
}

.features__heading {
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
}

.features__headline {
  font-weight: 500;
  color: #252b46;
}

.features__supporting-copy {
  color: #9194a1;
  font-size: 0.9rem;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .features__headline {
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 500;
  }
  .features__supporting-copy {
    font-size: 1.05rem;
  }
}

.features .cta-holder {
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .features .cta-holder {
    justify-content: flex-start;
  }
}

.faq {
  padding: 1rem 0 2rem;
}

.faq__heading {
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
}

.faq__headline {
  font-weight: 500;
  color: #252b46;
}

.faq__supporting-copy {
  color: #9194a1;
  font-size: 0.9rem;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .faq__headline {
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 500;
  }
  .faq__supporting-copy {
    font-size: 1.05rem;
  }
}

.faq .cta-holder {
  justify-content: center;
}

.extension {
  padding-top: 0;
}

.extension .container {
  padding-top: 0;
  max-width: 860px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.extension__heading {
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
}

.extension__headline {
  font-weight: 500;
  color: #252b46;
}

.extension__supporting-copy {
  color: #9194a1;
  font-size: 0.9rem;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .extension__headline {
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 500;
  }
  .extension__supporting-copy {
    font-size: 1.05rem;
  }
}

.extension .container {
  padding: 1.5rem;
  padding: 1.25rem 1.15rem;
}

.header {
  padding: 1rem 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icons {
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  font-size: 1.5rem;
  transition: opacity .5s linear;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .menu-icons {
    display: none;
  }
}

.fa-times {
  color: white;
}

.hidden {
  display: none;
  opacity: 1;
}

.cta-banner {
  padding: 1rem 0;
  background: #5368df;
  color: white;
}

.cta-banner__heading {
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
}

.cta-banner__headline {
  font-weight: 400;
  color: white;
  font-size: 1.35rem;
}

.cta-banner__supporting-copy {
  color: white;
  font-size: 0.8rem;
  letter-spacing: .2rem;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .cta-banner__headline {
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 500;
  }
  .cta-banner__supporting-copy {
    font-size: 1.05rem;
  }
}

.footer {
  background: #252b46;
}

.footer .container {
  padding: 1rem 1.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer .container {
    align-items: center;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: .5fr 2fr .5fr;
  }
}

.footer .container .logo-holder {
  margin: 1rem 0;
  justify-self: start;
}

.footer .nav__list {
  margin: 1rem 0;
  width: 100%;
}

.footer .nav__item {
  font-size: .9rem;
  color: white;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-weight: 400;
  padding: 1rem 1rem;
}

.footer .nav__list--socals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
  justify-content: center;
}

.footer .nav__list--socals .nav__item {
  color: white;
  font-size: 1.5rem;
  padding: 0 .5rem;
}

.footer .nav__list--socals .nav__item:hover {
  color: #fa5757;
}

@media screen and (min-width: 768px) {
  .footer .nav--secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
  }
  .footer .nav__list--socals {
    padding: 0 0.5rem;
    justify-content: flex-end;
  }
  .footer__item {
    padding: .25rem 1rem;
  }
}
/*# sourceMappingURL=main.css.map */