@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  text-align: center;
}

p {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.container {
  padding: 1rem 1.15rem;
  max-width: 1080px;
  margin: 0rem  auto;
}

.faqs-accordion {
  flex: 1 1 50%;
  background-color: white;
  position: relative;
  margin: 2rem 0;
  padding: 8rem 1.5rem 4rem;
  border-radius: 15px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (min-width: 768px) {
  .faqs-accordion {
    box-shadow: 0 0 0;
    max-width: 500px;
    padding: 4rem 1.5rem;
  }
}

.faqs-accordion__title {
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  .faqs-accordion__title {
    padding: 1.5rem 0;
    font-size: 3.5rem;
    text-align: left;
  }
}

.faqs-accordion__question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.faqs-accordion__answer {
  padding: .5rem  0 .75rem;
  height: 0;
  font-size: 1.05rem;
  opacity: 0;
  overflow: hidden;
  word-spacing: .25rem;
  transition: height .5s linear , opacity .5s linear;
}

.faqs-accordion__item {
  margin: .5rem 0;
  padding-top: .25rem;
  text-align: left;
}

.faqs-accordion__question-text {
  font-size: 1.1rem;
}

.faqs-accordion__collaspe-icon {
  padding: 0 .25rem;
}

.faqs-accordion__collaspe-icon > * {
  transition: transform .5s linear;
}

@media screen and (min-width: 768px) {
  .faqs-accordion__title {
    padding: 1.5rem 0;
    font-size: 3.5rem;
    text-align: left;
  }
  .faqs-accordion__answer {
    font-size: 1.3rem;
  }
  .faqs-accordion__question-text {
    font-size: 1.35rem;
  }
}

.rotate_icon {
  transform: rotate(-180deg);
  transition: transform .5s linear;
}

.collaspe {
  overflow: hidden;
  opacity: 1;
  transition: height .5s linear, opacity .5s linear;
}

.bold_question {
  font-weight: 700;
}

.nav--primary {
  padding: 1rem;
  text-align: center;
  width: 90%;
  opacity: .95;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #252b46;
}

.nav--primary .nav__list--socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.nav--primary .nav__item {
  padding: 0.75rem;
  color: white;
  font-weight: 400;
}

.nav--primary .nav__item:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .nav--primary {
    padding: 0rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: center;
    width: auto;
    position: static;
    background-color: transparent;
  }
  .nav--primary.hidden {
    display: flex !important;
  }
  .nav--primary .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav--primary .nav__list--socials {
    display: none;
  }
  .nav--primary .nav__list--user-auth {
    border-top: none;
  }
  .nav--primary .nav__item {
    padding-bottom: 1.25rem;
    color: #252b46;
  }
}

.btn {
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: .85rem;
  font-weight: 700;
  letter-spacing: .05rem;
  font-family: inherit;
  outline: none;
}

.btn:hover {
  opacity: .8;
}

.faqs {
  height: 100%;
  padding: 7rem 0 2rem;
}

@media screen and (min-width: 768px) {
  .faqs {
    height: 100vh;
    padding: 3.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .faqs .container {
    border-radius: 30px;
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.faqs-illustration {
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 266px;
  background-position: 1.5rem 7.5rem;
}

@media screen and (min-width: 768px) {
  .faqs-illustration {
    flex: 1 1 50%;
    padding: 2rem 0;
    position: relative;
    background-position: 0rem -5rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .faqs-illustration {
    transform: translateX(-5rem);
  }
}

.faqs-illustration--mobile {
  position: absolute;
  z-index: 1;
  top: 1.15rem;
  left: 50%;
  transform: translateX(-55%);
}

@media screen and (min-width: 768px) {
  .faqs-illustration--mobile {
    display: none;
  }
}

.faqs-illustration--desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .faqs-illustration--desktop {
    display: block;
  }
}

.faqs-illustration__box {
  position: absolute;
  top: 40%;
  left: -13%;
}

.header {
  padding: 1rem 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icons {
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  font-size: 1.5rem;
  transition: opacity .5s linear;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .menu-icons {
    display: none;
  }
}

.fa-times {
  color: white;
}

.hidden {
  display: none;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */